COMPOSE_PROJECT_NAME=camera-software-dev
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=56434
POSTGRES_DB=cameras
POSTGRES_USER=camera_app
POSTGRES_PASSWORD=change-me-dev
AZURITE_HOST=azurite
AZURITE_BLOB_PORT=10000
AZURITE_HOST_BLOB_PORT=11000
AZURITE_ACCOUNT_NAME=devstoreaccount1
AZURITE_ACCOUNT_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==
AZURITE_BLOB_ENDPOINT=http://azurite:10000/devstoreaccount1
AZURITE_CONNECTION_STRING="DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;"
AZURITE_DATA_CONTAINER=computer-vision-data
AZURITE_MODEL_CONTAINER=computer-vision-models
USE_AZURITE=true
API_PORT=5255
FASTAPI_PORT=8102
FRONTEND_PORT=3101
NEXT_ALLOWED_DEV_ORIGINS=192.168.1.252
CAMERA_API_URL=http://api:8080
INFERENCE_API_URL=http://fastapi:8000
CAMERA_CREDENTIAL_KEY=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
STREAM_ROOT=/app/streams
MODEL_DIR=/models
MODEL_PATH=/models/person_detector_int8.xml
OPENVINO_DEVICE=CPU
OPENVINO_PERFORMANCE_HINT=LATENCY
MODEL_PRE_NMS_TOPK=1000

