__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/

*.pth
*.bin
*.xml
optimized/
releases/
release_evaluations/
fp32_evaluation/
validation_preview/
test_output/
old/
.citypersons-official/
